<link rel="stylesheet" href="/css/eventList.css">
<main
    class='d-block'
    style='
    margin-top: 92px;
    margin-left: 270px;
    margin-bottom: 24px;
'
>
<div class="container">
    <div style="margin-top: 150px" class="row">
        <div class="col-12 text-center h1 mb-5">Danh sách sự kiện</div>
        <div class="col-sm-6 col-md-4 event-single">
            <div class="card">
                <div class="card-cover relative" style="background-image: url(https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/04/08/CF34A5.jpg?w=360&amp;maxheight=137&amp;mode=crop&amp;anchor=topcenter);">

                </div>
                <div style="padding: 0"  class="card-body relative">
                    <div class="thumbnail-description">
                        <div class="table w-100 margin-bottom-0">
                            <div class="table-cell event-title">
                                <a data-opm="0" href="https://ticketbox.vn/event/live-concert-ruc-ro-thang-5-87011" title="RỰC RỠ THÁNG 5 [nhạc sĩ ĐỨC TRÍ] Bằng Kiều - Lê Hiếu - Bùi Lan Hương - Diêu Ngọc Bích Trâm" target="_blank">
                                    RỰC RỠ THÁNG 5 [nhạc sĩ ĐỨC TRÍ] Bằng Kiều - Lê Hiếu - Bùi Lan Hương - Diêu Ngọc Bích Trâm
                                </a>
                            </div>
                            <div class="table-cell card-right-block">
                            </div>
                            
                            
                        </div>

                        <div class="table w-100 margin-bottom-0">
                            <div class="">
                                <div class="w-100">
                                    <div class="event-price">
                                            
                                            <span class="color-6"><i class="far fa-money-bill-alt"></i></span> <strong class="price-green">1.000.000 VND</strong>
                                    </div>
                                    <div class="mx-5 d-inline"></div>
                                    <div class="event-calendar-time">
                                            <div class="event-date">
                                                <div class="relative">
                                                    <div class="date-month">
                                                        Tháng 4
                                                    </div>
                                                    <div class="date-detail">
                                                        <div class="date-num color-6">
                                                            22
                                                        </div>
                                                        <div class="date-day">
                                                            Thứ 7
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="date-with-calendar-icon">
                                                <img src="https://static.tkbcdn.com/site/global/content-v2/img/calendar.svg" alt="calendar">
                                                <span>22.04.2023</span><br>
                                                <i class="fas fa-location"></i>
                                                        Ho Chi Minh
                                            </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 event-single">
            <div class="card">
                <div class="card-cover relative" style="background-image: url(https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/04/08/CF34A5.jpg?w=360&amp;maxheight=137&amp;mode=crop&amp;anchor=topcenter);">

                </div>
                <div style="padding: 0"  class="card-body relative">
                    <div class="thumbnail-description">
                        <div class="table w-100 margin-bottom-0">
                            <div class="table-cell event-title">
                                <a data-opm="0" href="https://ticketbox.vn/event/live-concert-ruc-ro-thang-5-87011" title="RỰC RỠ THÁNG 5 [nhạc sĩ ĐỨC TRÍ] Bằng Kiều - Lê Hiếu - Bùi Lan Hương - Diêu Ngọc Bích Trâm" target="_blank">
                                    RỰC RỠ THÁNG 5 [nhạc sĩ ĐỨC TRÍ] Bằng Kiều - Lê Hiếu - Bùi Lan Hương - Diêu Ngọc Bích Trâm
                                </a>
                            </div>
                            <div class="table-cell card-right-block">
                            </div>
                            
                            
                        </div>

                        <div class="table w-100 margin-bottom-0">
                            <div class="">
                                <div class="w-100">
                                    <div class="event-price">
                                            
                                            <span class="color-6"><i class="far fa-money-bill-alt"></i></span> <strong class="price-green">1.000.000 VND</strong>
                                    </div>
                                    <div class="mx-5 d-inline"></div>
                                    <div class="event-calendar-time">
                                            <div class="event-date">
                                                <div class="relative">
                                                    <div class="date-month">
                                                        Tháng 4
                                                    </div>
                                                    <div class="date-detail">
                                                        <div class="date-num color-6">
                                                            22
                                                        </div>
                                                        <div class="date-day">
                                                            Thứ 7
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="date-with-calendar-icon">
                                                <img src="https://static.tkbcdn.com/site/global/content-v2/img/calendar.svg" alt="calendar">
                                                <span>22.04.2023</span><br>
                                                <i class="fas fa-location"></i>
                                                        Ho Chi Minh
                                            </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 event-single">
            <div class="card">
                <div class="card-cover relative" style="background-image: url(https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/04/08/CF34A5.jpg?w=360&amp;maxheight=137&amp;mode=crop&amp;anchor=topcenter);">

                </div>
                <div style="padding: 0"  class="card-body relative">
                    <div class="thumbnail-description">
                        <div class="table w-100 margin-bottom-0">
                            <div class="table-cell event-title">
                                <a data-opm="0" href="https://ticketbox.vn/event/live-concert-ruc-ro-thang-5-87011" title="RỰC RỠ THÁNG 5 [nhạc sĩ ĐỨC TRÍ] Bằng Kiều - Lê Hiếu - Bùi Lan Hương - Diêu Ngọc Bích Trâm" target="_blank">
                                    RỰC RỠ THÁNG 5 [nhạc sĩ ĐỨC TRÍ] Bằng Kiều - Lê Hiếu - Bùi Lan Hương - Diêu Ngọc Bích Trâm
                                </a>
                            </div>
                            <div class="table-cell card-right-block">
                            </div>
                            
                            
                        </div>

                        <div class="table w-100 margin-bottom-0">
                            <div class="">
                                <div class="w-100">
                                    <div class="event-price">
                                            
                                            <span class="color-6"><i class="far fa-money-bill-alt"></i></span> <strong class="price-green">1.000.000 VND</strong>
                                    </div>
                                    <div class="mx-5 d-inline"></div>
                                    <div class="event-calendar-time">
                                            <div class="event-date">
                                                <div class="relative">
                                                    <div class="date-month">
                                                        Tháng 4
                                                    </div>
                                                    <div class="date-detail">
                                                        <div class="date-num color-6">
                                                            22
                                                        </div>
                                                        <div class="date-day">
                                                            Thứ 7
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="date-with-calendar-icon">
                                                <img src="https://static.tkbcdn.com/site/global/content-v2/img/calendar.svg" alt="calendar">
                                                <span>22.04.2023</span><br>
                                                <i class="fas fa-location"></i>
                                                        Ho Chi Minh
                                            </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>