<main
    class='d-block'
    style='
    margin-top: 92px;
    margin-left: 270px;
    margin-bottom: 24px;
'
>
    <div class='container'>
        <div class='jxsJml'>
            {{! <div class='fatwa-2 goFneo'>
                <div class='slick-slider slick-initialized' dir='ltr'>
                    <div data-role='none' class='fatwa-5 fatwa-6 eWPawd slick-arrow slick-prev' style='display: block;'>
                    </div>
                    <div class='slick-list'>
                        <div
                            class='slick-track'
                            style='width: 11044px; opacity: 1; transform: translate3d(-2008px, 0px, 0px);'
                        >
                            <div
                                data-index='-1'
                                tabindex='-1'
                                class='slick-slide slick-cloned'
                                aria-hidden='true'
                                style='width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/krossing-over-final-show-giua-ngan-tinh-tu-dance-x-live-music-86885?opm=tbox.home.slider.4'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='[KROSSING OVER] FINAL SHOW: GIỮA NGÀN TINH TÚ | Dance x Live Music'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/30/EF4DE3.jpg'
                                                alt='[KROSSING OVER] FINAL SHOW: GIỮA NGÀN TINH TÚ | Dance x Live Music'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='0'
                                class='slick-slide'
                                tabindex='-1'
                                aria-hidden='true'
                                style='outline: none; width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/legend-concert-2023-86908?opm=tbox.home.slider.0'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='THE LEGEND CONCERT 01 &quot;TRỊNH CÔNG SƠN&quot;'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/28/104D01.jpg'
                                                alt='THE LEGEND CONCERT 01 &quot;TRỊNH CÔNG SƠN&quot;'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='1'
                                class='slick-slide slick-active slick-current'
                                tabindex='-1'
                                aria-hidden='false'
                                style='outline: none; width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/may-lang-thang-nhu-quynh-86896?opm=tbox.home.slider.1'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='[MÂY LANG THANG] LIVESHOW NHƯ QUỲNH - PHƯƠNG Ý'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/23/8540CB.jpg'
                                                alt='[MÂY LANG THANG] LIVESHOW NHƯ QUỲNH - PHƯƠNG Ý'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='2'
                                class='slick-slide'
                                tabindex='-1'
                                aria-hidden='true'
                                style='outline: none; width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.slider.2'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                                alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='3'
                                class='slick-slide'
                                tabindex='-1'
                                aria-hidden='true'
                                style='outline: none; width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/live-concert-i-see-you-ha-nhi-86955?opm=tbox.home.slider.3'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='HÀ NHI LIVE CONCERT – I SEE YOU'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/30/117427.jpg'
                                                alt='HÀ NHI LIVE CONCERT – I SEE YOU'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='4'
                                class='slick-slide'
                                tabindex='-1'
                                aria-hidden='true'
                                style='outline: none; width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/krossing-over-final-show-giua-ngan-tinh-tu-dance-x-live-music-86885?opm=tbox.home.slider.4'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='[KROSSING OVER] FINAL SHOW: GIỮA NGÀN TINH TÚ | Dance x Live Music'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/30/EF4DE3.jpg'
                                                alt='[KROSSING OVER] FINAL SHOW: GIỮA NGÀN TINH TÚ | Dance x Live Music'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='5'
                                tabindex='-1'
                                class='slick-slide slick-cloned'
                                aria-hidden='true'
                                style='width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/legend-concert-2023-86908?opm=tbox.home.slider.0'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='THE LEGEND CONCERT 01 &quot;TRỊNH CÔNG SƠN&quot;'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/28/104D01.jpg'
                                                alt='THE LEGEND CONCERT 01 &quot;TRỊNH CÔNG SƠN&quot;'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='6'
                                tabindex='-1'
                                class='slick-slide slick-cloned'
                                aria-hidden='true'
                                style='width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/may-lang-thang-nhu-quynh-86896?opm=tbox.home.slider.1'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='[MÂY LANG THANG] LIVESHOW NHƯ QUỲNH - PHƯƠNG Ý'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/23/8540CB.jpg'
                                                alt='[MÂY LANG THANG] LIVESHOW NHƯ QUỲNH - PHƯƠNG Ý'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='7'
                                tabindex='-1'
                                class='slick-slide slick-cloned'
                                aria-hidden='true'
                                style='width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.slider.2'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                                alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='8'
                                tabindex='-1'
                                class='slick-slide slick-cloned'
                                aria-hidden='true'
                                style='width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/live-concert-i-see-you-ha-nhi-86955?opm=tbox.home.slider.3'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='HÀ NHI LIVE CONCERT – I SEE YOU'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/30/117427.jpg'
                                                alt='HÀ NHI LIVE CONCERT – I SEE YOU'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                data-index='9'
                                tabindex='-1'
                                class='slick-slide slick-cloned'
                                aria-hidden='true'
                                style='width: 1004px;'
                            >
                                <div>
                                    <div
                                        tabindex='-1'
                                        class='fatwa-3 jusOhs'
                                        style='width: 100%; display: inline-block;'
                                    >
                                        <a
                                            href='https://ticketbox.vn/event/krossing-over-final-show-giua-ngan-tinh-tu-dance-x-live-music-86885?opm=tbox.home.slider.4'
                                            target='_blank'
                                            rel='noopener noreferrer'
                                            title='[KROSSING OVER] FINAL SHOW: GIỮA NGÀN TINH TÚ | Dance x Live Music'
                                        >
                                            <img
                                                src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/30/EF4DE3.jpg'
                                                alt='[KROSSING OVER] FINAL SHOW: GIỮA NGÀN TINH TÚ | Dance x Live Music'
                                                class='fatwa-4 jxEJZT'
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-role='none' class='fatwa-5 fatwa-7 hWbEgI slick-arrow slick-next' style='display: block;'>
                    </div>
                    <ul class='fatwa-0 kVVUa-D slick-dots'>
                        <li opacity='0.4' class='fatwa-1 ezFKET'>
                            <button>1</button>
                        </li>
                        <li opacity='1' class='fatwa-1 hvssoM'>
                            <button>2</button>
                        </li>
                        <li opacity='0.4' class='fatwa-1 ezFKET'>
                            <button>3</button>
                        </li>
                        <li opacity='0.4' class='fatwa-1 ezFKET'>
                            <button>4</button>
                        </li>
                        <li opacity='0.4' class='fatwa-1 ezFKET'>
                            <button>5</button>
                        </li>
                    </ul>
                </div>
            </div> }}
            <div>
                <div class='heading-wrapper'>
                    <div class='heading-container'>
                        <img src='/img/heading-img-1-left.svg' alt='Heading One' class='heading-image' />
                        <h2 class='heading-secondary'>Sự kiện nổi bật</h2>
                        <div class='divider'>

                        </div>
                        <img src='/img/heading-img-1-right.svg' alt='Heading Two' class='lzaKD' />
                        <img src='/img/heading-img-1-mobile.svg' alt='Heading Mobile' class='dAFUHy' />
                    </div>
                </div>
                <section class='jEmGwi'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/booking/ticketDetail'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/28/104D01.jpg'
                                        alt='THE LEGEND CONCERT 01 &quot;TRỊNH CÔNG SƠN&quot;'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>THE LEGEND CONCERT 01 "TRỊNH CÔNG SƠN"</h4>
                                    <div class='card-ticket-date'>09/04/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/booking/ticketDetail'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2022/10/23/0574BD.jpg'
                                        alt='Kịch IDECAF: 12 BÀ MỤ'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>Kịch IDECAF: 12 BÀ MỤ</h4>
                                    <div class='card-ticket-date'>07/04/2023</div>
                                    <div class='card-ticket-type'>Theater &amp; Plays</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/booking/ticketDetail'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/28/104D01.jpg'
                                        alt='THE LEGEND CONCERT 01 &quot;TRỊNH CÔNG SƠN&quot;'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>THE LEGEND CONCERT 01 "TRỊNH CÔNG SƠN"</h4>
                                    <div class='card-ticket-date'>09/04/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/booking/ticketDetail'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2022/10/23/0574BD.jpg'
                                        alt='Kịch IDECAF: 12 BÀ MỤ'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>Kịch IDECAF: 12 BÀ MỤ</h4>
                                    <div class='card-ticket-date'>07/04/2023</div>
                                    <div class='card-ticket-type'>Theater &amp; Plays</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>

                        </div>
                    </div>
                </section>
                <div class='xemthem-container'>
                    <button class='xemthem-btn large primary' width='0'>Xem thêm</button>
                </div>
            </div>
            <div class='heading-wrapper'>
                <div class='heading-container'>
                    <img src='/img/home-leftmovie-desktop.svg' alt='Heading One' class='heading-image' />
                    <h2 class='heading-secondary'>Phim chiếu rạp</h2>
                    <div class='divider'>

                    </div>
                    <img src='/img/home-rightmovie-desktop.svg' alt='Heading Two' class='lzaKD' />
                    <img src='/img/home-movie-mobile.svg' alt='Heading Mobile' class='dAFUHy' />
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='xemthem-container'>
                <button class='xemthem-btn large primary' width='0'>Xem thêm</button>
            </div>
        </div>
    </div>
</main>