<link rel="stylesheet" href="/css/login.css">

<div class="page center">
  
  <form class="form" method="POST">
    <img width="50%" src="/img/EzTicket-logo.png" alt=""> 
    
<!--     <h3>Đăng nhập</h3> -->
    
    <input type="text" name="username" placeholder="Họ và tên" >
    <input type="email" name="email" placeholder="Email" >
    <input type="text" name="phone" placeholder="Số điện thoại" >
    <input type="text" name="address" placeholder="Địa chỉ" >
    
    <input type="password" name="password" placeholder="Mật khẩu" >
    <input type="password" name="password2" placeholder="Nhập lại mật khẩu" >
    
    <div class="term-box">
      <div class="check-box">
        <input checked name="check" type="checkbox">
      </div>
      <p>Tôi đồng ý với <a target="_blank" href="#" rel="noopener noreferrer">Điều khoản sử dụng và mua vé</a> cho nguời có độ tuổi phù hợp</p>
      
    </div>

    
    
    <div class="form-option">
      {{#if error}}
        <div style="padding: 8px;" class="alert alert-danger">
        {{error}}
      </div>
      {{/if}}
      <button type="submit">
        Tiếp tục
      </button>
      
      
    </div>
  </form>
</div>
