<!-- reset pwd -->
<form modal='resetpwd-modal' class='signinup mover-actor modal fade dl-one' role='dialog'>
    <div class='modal-dialog'>
        <!-- Modal content-->
        <div class='modal-content rounded color-6'>
            <button type='button' class='close dl-close hidden-xs' data-dismiss='modal'><span
                    class='ello-cancel-2'
                ></span></button>
            <div class='w-100'>
                <div class='modal-header dl-one-header'>
                    <div class='modal-hl'>
                        <h4 class='modal-title font-bold'>Qu&#234;n mật khẩu</h4>
                    </div>
                    <div class='modal-hr'>
                        <span class='color-6'>Or</span>
                        <a
                            onclick="window.location = '/sign-in?ref=' + encodeURI(window.location.href)"
                            class='tkb-color underline'
                        >Đăng nhập</a>
                    </div>
                </div>
                <div class='modal-body mover-up-actions'>
                    <div data-err='alerter' class='dl-er-message hide'>
                        <div class='alert alert-warning' role='alert'>
                            <span data-err='message'>Opps!</span>
                        </div>
                    </div>
                    <div class='dl-row mover-up-el'>
                        <div class='dl-input-groups cs1-inp-group'>
                            <div class='input-group'>
                                <span class='input-group-addon'><span class='ello-mail-alt color-c'></span></span>
                                <input
                                    required='true'
                                    name='email'
                                    type='email'
                                    class='form-control padding-left-0'
                                    placeholder='Email'
                                    tabindex='108'
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer padding-top-0'>
                    <button
                        data-loading='ladda'
                        data-style='zoom-out'
                        type='submit'
                        class='ladda-button btn tkb-bg-color rounded w-100 font-bold'
                        tabindex='109'
                    ><span class='ladda-label'>Ho&#224;n tất</span></button>
                </div>
            </div>
            <!-- dl success -->
            <div class='dl-success-container w-100 h-100 bg-white text-center rounded'>
                <div class='modal-body'>
                    <div class='dl-row'>
                        <span class='ello-ok-circled-2' style='color: #ddd; font-size: 80px;'></span>
                    </div>
                    <div class='dl-row'>
                        Mật khẩu mới đ&#227; được gửi đến email của bạn.
                    </div>
                </div>
                <div class='dl-success-footer modal-footer padding-top-0'>
                    <button
                        onclick="window.location = '/sign-in?ref=' + encodeURI(window.location.href)"
                        class='btn tkb-bg-color rounded w-100 font-bold'
                    >Quay lại Đăng nhập</button>
                </div>
            </div>
        </div>
        <!-- modal under -->
        <div class='modal-under-footer text-center'>
            <a class='underline padding-20 visible-xs color-white' data-dismiss='modal'>Đ&#243;ng</a>
        </div>
    </div>
</form>