<html>
  <head>
    <title>{{title}}</title>


    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{!-- <link rel='icon' href='https://www.safebooks.vn/upload/photo/fav-safebook-4164.png' sizes='192x192' /> --}}
    {{!-- <link rel='apple-touch-icon' href='https://www.safebooks.vn/upload/photo/fav-safebook-4164.png' />
    <meta name='msapplication-TileImage' content='https://www.safebooks.vn/upload/photo/fav-safebook-4164.png' /> --}}
    {{! SEO }}

    <!-- UTF-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Title, Keywords, Description -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Robots -->
    <meta name="robots" content="index,follow">
    {{!-- <link href="https://www.safebooks.vn/upload/photo/fav-safebook-4164.png" rel="shortcut icon" type="image/x-icon"> --}}
    <meta name="geo.region" content="VN">
    <meta name="geo.placename" content="Hồ Chí Minh">
    <meta name="geo.position" content="10.823099;106.629664">
    <meta name="ICBM" content="10.823099, 106.629664">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="ARITO SOLUTIONS JSC">
    <meta name="copyright" content="ARITO SOLUTIONS JSC - [safebooks.vn@gmail.com]">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="ARITO SOLUTIONS JSC">
    <meta property="og:title" content="Giới thiệu">
    <meta property="og:description" content="">
    {{!-- <meta property="og:url" content="https://www.safebooks.vn"> --}}
    {{!-- <meta property="og:image" content="https://www.safebooks.vn/thumbs/xx2/upload/seopage/"> --}}
    <meta property="og:image:alt" content="Giới thiệu">
    <meta property="og:image:type" content="">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="safebooks.vn@gmail.com">
    <meta name="twitter:creator" content="ARITO SOLUTIONS JSC">
    {{!-- <meta property="og:url" content="https://www.safebooks.vn"> --}}
    <meta property="og:title" content="Giới thiệu">
    <meta property="og:description" content="">
    {{!-- <meta property="og:image" content="https://www.safebooks.vn/thumbs/xx2/upload/seopage/"> --}}
    {{!-- <link rel="canonical" href="https://www.safebooks.vn"> --}}
    <meta name="format-detection" content="telephone=no">

    <link as="style" href="//fonts.googleapis.com/css?family=Roboto%3Aregular%2C700%2Cregular%2C700%7CDancing+Script%3Aregular%2C400&amp;display=swap&amp;ver=3.9" id="flatsome-googlefonts-css" media="all" onload="this.onload=null;this.rel='stylesheet'" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{> style}}


  </head>
  <body>
      {{> header}}
    <div class="container-fluid">
      {{{body}}}
    </div>
    {{> script}}
  </body>
</html>