<html>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='format-detection' content='telephone=no' />
        <meta name='author' content='ticketbox.vn' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='HandheldFriendly' content='True' />
        <meta name='MobileOptimized' content='320' />
        <!-- for Facebook -->
        <meta property='fb:app_id' content='337594303053881' />
        <!-- apple app -->
        <meta name='apple-itunes-app' content='app-id=1041900498, app-argument=https://ticketbox.vn' />

        <meta name='opm-id' content='tbox.edp' />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <title>Ez Ticket</title>
        <link href='/img/favicon.ico' rel='shortcut icon' type='image/x-icon' />
        <meta
            name='description'
            content='20/05/2023 - Vinhomes Ocean Park 2. PEPSI presents RAVOLUTION MUSIC FESTIVAL • Date: 20.05.'
        />
        <meta name='keywords' content='Vé hòa nhạc, vé hội thảo, vé sự kiện, vé thể thao ở Việt Nam' />
        <link rel='image_src' href='https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/04/05/E4EDFA.jpg' />
        <meta name='HandheldFriendly' content='True' />
        <meta name='MobileOptimized' content='320' />
        <meta
            name='viewport'
            content='width=device-width, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0'
        />
        <meta property='al:ios:url' content='tbox://event/86971' />
        <meta property='al:android:url' content='tbox://event/86971' />
        <meta name='data-event-id' content='86971' />
        <!-- for Facebook -->
        <meta property='fb:app_id' content='337594303053881' />
        <meta property='og:title' content='PEPSI presents RAVOLUTION MUSIC FESTIVAL - Chapter 9: UNITY' />
        <meta property='og:type' content='product.item' />
        <meta
            property='og:image'
            content='https://images.tkbcdn.com/1/1560/600/Upload/eventcover/2023/04/05/E4EDFA.jpg'
        />
        <meta property='og:url' content='https://ticketbox.vn/event/ravolution-86971' />
        <meta
            property='og:description'
            content='PEPSI presents RAVOLUTION MUSIC FESTIVAL

• Date: 20.05.2023 

• Location: Vinhomes Ocean Park 2 

• Headliner Phase 1: R3HAB, VINI VICI, KAAZE, ANDREW RAYEL

Ravolution Music Festival - Lễ hội Âm nhạc Điện tử hàng đầu Việt Nam thuộc hệ sinh thái Ravolution Asia,'
        />
        <meta name='apple-itunes-app' content='app-id=1041900498, app-argument=https://ticketbox.vn' />
        {{> layouts/main/style}}
        {{!-- {{> layouts/secondary/style}} --}}
        <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body id='page-top' data-spy='scroll' data-target='.navbar-fixed-top'>
        {{> layouts/main/drawer}}

        <section id='content' class='snap-content box-shadow'>
            <div id='welcome-banner' style='display: none'>

            </div>

            <div class='relative'>
                {{> layouts/main/header}}
                {{{body}}}
            </div>
            {{> layouts/main/footer}}
        </section>

        {{> layouts/main/resetPassword}}

        {{> components/modal/createEvent}}
        {{> layouts/main/script}}
    </body>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</html>