:root {
  --main-color: #D864A9;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .page {
    font-family: ProximaNova, sans-serif;;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 247, 252);
  }
  
  .form {
    width: 35%;
    padding: 16px 32px;
    min-height: 400px;
    background-color: white;
    max-width: 360px;
    margin: 24px auto auto;
    border: 1px solid rgb(230, 235, 245);         box-sizing: border-box;
    border-radius: 8px;
    /* margin: auto; */
    margin-top: 100px;
  }
  
  .form input {
      border: 1px solid transparent;
      background: rgb(245, 247, 252);
      outline: none;
      border-radius: 4px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      height: 44px;
      width: 100%;
      height: 44px;
      padding-left: 16px;
      margin-bottom: 10px;
  }
  
  .form .term-box {
      position: relative;
      margin-top: 16px;
      
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-align:left;
  }
  
  .term-box .check-box {
    position: absolute;
      top: 3px;
      left: 4px;
      width: 16px;
      height: 16px;
      background: transparent;
  /*     border: 1px solid rgb(45, 194, 117); */
      box-sizing: border-box;
      border-radius: 4px;
  }
  
  .form .check-box input {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -4px;
    left: -4px;
  }
  
  .term-box p {
    margin: 0px;
      top: 1px;
      left: 25px;
      position: absolute;
      font-weight: normal;
  }
  
  .term-box p a {
    color: var(--main-color);
    text-decoration: none;
  }
  
  .check-box > input:checked {
    accent-color: var(--main-color);
  }
  
  .form-option {
    margin-top: 80px;
  }
  
  .form-option button {
    background-color: rgb(230, 235, 245);
    border-color: transparent;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    min-width: 88px;
    padding: 0px 24px;
    color: white;
  }

  .form-option button:hover {
    background-color: var(--main-color);
  }
  
  .divide-line {
    position: relative;
      border-top: 1px solid rgb(230, 235, 245);
      margin: 20px 0px 16px;
  }
  
  .divide-line span {
    position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 0px 16px;
      top: -10px;
      color: rgb(130, 139, 160);
      background: rgb(255, 255, 255);
      margin: unset !important;
  }
  
  .pointer {
    margin: 7px;
      cursor: pointer;
  }